﻿@model SistemaGestionTalentoHumano.Models.Horarios

@{
    ViewData["Title"] = "Nuevo Horario";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <form asp-action="Create">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ToleranciaMaxima" class="control-label"></label>
                        <input asp-for="ToleranciaMaxima" class="form-control" />
                        <span asp-validation-for="ToleranciaMaxima" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiaSemana" class="control-label"></label>
                        <select asp-for="DiaSemana" class="form-control" asp-items="ViewBag.DiaSemana"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Inicio" class="control-label"></label>
                        <input asp-for="Inicio" class="form-control" />
                        <span asp-validation-for="Inicio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Final" class="control-label"></label>
                        <input asp-for="Final" class="form-control" />
                        <span asp-validation-for="Final" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" asp-for="PorDefecto">
                            <label asp-for="PorDefecto" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index" asp-route-id="@ViewBag.empleadoId"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
