﻿@model SistemaGestionTalentoHumano.Models.AccionesDePersonal

@{
    ViewData["Title"] = "Editar Acciones de Personal";
    ViewData["CardTitle"] = "Acciones de Personal";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>

            <form asp-action="Edit">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Numero" class="control-label"></label>
                        <input asp-for="Numero" class="form-control" />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comentarios" class="control-label"></label>
                        <input asp-for="Comentarios" class="form-control" />
                        <span asp-validation-for="Comentarios" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaAccionPersonal" class="control-label"></label>
                        <input asp-for="FechaAccionPersonal" type="date" class="form-control" />
                        <span asp-validation-for="FechaAccionPersonal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmpleadoId" class="control-label"></label>
                        <select asp-for="EmpleadoId" class="form-control" asp-items="ViewBag.EmpleadoId"></select>
                        <span asp-validation-for="EmpleadoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AccionesId" class="control-label"></label>
                        <select asp-for="AccionesId" class="form-control" asp-items="ViewBag.AccionesId"></select>
                        <span asp-validation-for="AccionesId" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>