﻿@model SistemaGestionTalentoHumano.Models.EducacionEmpleado

@{
    ViewData["Title"] = "Detalles";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Empleado: (@Model.EmpleadoId) @Model.Empleado.GetNombreCompleto()</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <dl>
                    <dt class="col-sm-8">
                        @Html.DisplayNameFor(model => model.GradoAcademico)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.GradoAcademico)
                    </dd>
                    <dt class="col-sm-8">
                        @Html.DisplayNameFor(model => model.Año)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Año)
                    </dd>
                    <dt class="col-sm-8">
                        @Html.DisplayNameFor(model => model.Educacion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Educacion.Nombre)
                    </dd>
                    <dt class="col-sm-8">
                        @Html.DisplayNameFor(model => model.CentroEducativo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CentroEducativo.Nombre)
                    </dd>
                    <dt class="col-sm-10">Documento</dt>
                    <dd class="col-sm-10">
                        @{ var archivo = Model.ArchivoRespaldo;}
                        @if (archivo != null)
                        {
                            <embed width=700 height="150" type="application/pdf"
                                   src="~/Documentos/@Html.DisplayFor(model => model.ArchivoRespaldo)#toolbar=1" />
                        }
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-4">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-block btn-flat"><i class="fa fa-edit"></i> Editar</a>
                    </div>
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <a class="btn btn-default btn-block btn-flat" asp-action="Index" asp-route-id="@Model.EmpleadoId"><i class="fa fa-arrow-left"></i> Regresar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>