﻿@model SistemaGestionTalentoHumano.Models.EducacionEmpleado

@{
    ViewData["Title"] = "Editar Educacion Empleado";
    ViewData["CardTitle"] = "Educacion Empleado";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Empleado: (@Model.EmpleadoId) @Model.Empleado.GetNombreCompleto()</h3>
            </div>
            <form asp-action="Edit" enctype="multipart/form-data">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input hidden="hidden" asp-for="Id" />
                    <input hidden="hidden" asp-for="EmpleadoId" />
                    <div class="form-group">
                        <label asp-for="GradoAcademico" class="control-label"></label>
                        <input asp-for="GradoAcademico" class="form-control" />
                        <span asp-validation-for="GradoAcademico" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Año" class="control-label"></label>
                        <input asp-for="Año" class="form-control" />
                        <span asp-validation-for="Año" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EducacionId" class="control-label"></label>
                        <select asp-for="EducacionId" class="form-control" asp-items="ViewBag.educacionId"></select>
                        <span asp-validation-for="EducacionId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CentroEducativoId" class="control-label"></label>
                        <select asp-for="CentroEducativoId" class="form-control" asp-items="ViewBag.centroEducativoId"></select>
                        <span asp-validation-for="CentroEducativoId" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="control-label">Imagen Respaldo</label>
                    </div>
                    <div class="custom-file">
                        <input id="inputDocumento" type="file" asp-for="FFArchivo" class="custom-file-input">
                        <label id="labelDocumento" class="custom-file-label">Selecciona un archivo</label>
                        <span asp-validation-for="FFArchivo" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index" asp-route-id="@ViewBag.empleadoId"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#inputDocumento').change(function (e) {
                $("#labelDocumento").text(e.target.files[0].name);
            });

            $('#inputDocumento').change(function () {
                $(this).next('#labelDocumento').html($(this).val().split("\\").pop());
            });

        });
    </script>
}