﻿@model IEnumerable<SistemaGestionTalentoHumano.Models.PreguntasFases>

@{
    ViewData["Title"] = "Create";
}

<partial name="_Alertas" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Evaluciones de desempeño</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <form asp-action="Create">
                    <table id="mainTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().FasesEvaluaciones.NombreFase)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Pregunta)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        
                                        @Html.DisplayFor(modelItem => item.FasesEvaluaciones.NombreFase)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pregunta)
                                        <input asp-for="@item.Id" hidden="hidden" readonly="readonly" />
                                    </td>
                                    <td class="text-right">
                                        @Html.DropDownList("ListaCalificacion", (IEnumerable<SelectListItem>)ViewBag.ListaCalificacion)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-4">
                                <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                            </div>
                            <div class="col-4">

                            </div>
                            <div class="col-4">
                                <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        function LlenaArreglo() {
            var resume_table = document.getElementById("mainTable");

            if (resume_table) {
                Array.from(resume_table.rows).forEach((tr, row_ind) => {
                    Array.from(tr.cells).forEach((cell, col_ind) => {
                        console.log('Value at row/col [' + row_ind + ',' + col_ind + '] = ' + cell.textContent);
                    });
                });

            }


            //var resume_table = document.getElementById("mainTable");
            //for (var i = 0, row; row = resume_table.rows[i]; i++) {
            //    for (var j = 0, col; col = row.cells[j]; j++) {
            //        alert(col[j].innerText);
            //    }
            //}
        };


        $(document).ready(function () {



            $('#inputGuardar').change(function (e) {
                var resume_table = document.getElementById("mainTable");
                alert(resume_table);
            });
        })

    </script>
}