﻿@model IEnumerable<SistemaGestionTalentoHumano.Models.EvaluacionesDesempeño>

@{
    ViewData["Title"] = "Details";
}
<partial name="_Alertas" />

<div class="row mb-3">
    <div class="col-3">
        <a asp-action="Create" class="btn btn-primary btn-block btn-flat"><i class="fa fa-plus-circle"></i> Nuevo</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lista</h3>
            </div>
            <div class="card-body table-responsive">
                <table id="mainTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PreguntasFases.Pregunta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Calificacion)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PreguntasFases.Pregunta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Calificacion)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_DataTables" />
}