﻿@model IEnumerable<SistemaGestionTalentoHumano.Models.EvaluacionesDesempeño>

@{
    ViewData["Title"] = "Evaluaciones de Desempeño";
}

<partial name="_Alertas" />

<div class="row mb-3">
    <div class="col-3">
        <a asp-action="Create" class="btn btn-primary btn-block btn-flat"><i class="fa fa-plus-circle"></i> Nuevo</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Historico de Evaluciones de desempeño</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table id="mainTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PeriodoEvaluacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Calificacion)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeriodoEvaluacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Calificacion)
                            </td>
                            <td class="text-right">
                                <a asp-action="Details" asp-route-EmpleadoId="@item.EmpleadoId" asp-route-Periodo="@item.PeriodoEvaluacion" class="btn btn-default btn-flat"><i class="fa fa-align-justify"></i></a>
                                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_DataTables" />
}