﻿@model SistemaGestionTalentoHumano.Models.EmpleadoPlaza

@{
    ViewData["Title"] = "Asignar plaza";
    ViewData["CardTitle"] = "Detalle";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-action="Create">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h3><strong>Empleado</strong></h3>
                    <h4>@Model.Empleado.GetNombreCompleto()</h4>
                    <input asp-for="EmpleadoId" type="hidden" />
                    <input asp-for="Plaza.PlazaActiva" value="true" type="hidden" />
                    <div class="form-group">
                        <label>Departamento</label>
                        <select id="DepartamentoSigetId" class="form-control" asp-items="ViewBag.DepartamentosSiget">
                            <option>Seleccione una opción</option>
                        </select>
                    </div>
                    @*<div class="form-group">
            <label asp-for="CargoId"></label>
            <select asp-for="CargoId" class="form-control" asp-items="ViewBag.Cargos">
                <option>Seleccione una opción</option>
            </select>
        </div>*@
                    <div class="form-group">
                        <label asp-for="PlazaId"></label>
                        <select asp-for="PlazaId" class="form-control" asp-items="ViewBag.Plazas">
                            <option>Seleccione una opción</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg">
                            <label asp-for="FechaInicio" class="control-label"></label>
                            <input asp-for="FechaInicio" class="form-control" />
                            <span asp-validation-for="FechaInicio" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg">
                            <label asp-for="FechaFinal" class="control-label"></label>
                            <input asp-for="FechaFinal" class="form-control" />
                            <span asp-validation-for="FechaFinal" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg">
                            <label asp-for="NumeroContrato" class="control-label"></label>
                            <input asp-for="NumeroContrato" class="form-control" />
                            <span asp-validation-for="NumeroContrato" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg">
                            <label asp-for="Salario" class="control-label"></label>
                            <input asp-for="Salario" class="form-control" />
                            <span asp-validation-for="Salario" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Observacion" class="control-label"></label>
                        <input asp-for="Observacion" class="form-control" />
                        <span asp-validation-for="Observacion" class="text-danger"></span>
                    </div>

                </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-4">
                                <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                            </div>
                            <div class="col-4">

                            </div>
                            <div class="col-4">
                                <a class="btn btn-default btn-block btn-flat" asp-controller="Empleados" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                            </div>
                        </div>
                    </div>
</form>
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        $("#DepartamentoSigetId").on('change', getPlazas);

        function getPlazas() {
            let departamentoSigetId = $("#DepartamentoSigetId").val();
            $.ajax({
                url: `/api/PlazasApi?departamentoSigetId=${departamentoSigetId}`,
                contentType: 'application/json',
                type: 'GET',
                success: function(data) {
                    var options = "";
                    for (var i = 0; i < data.length; i++) {
                        options += `<option value='${data[i].id}'>${data[i].codigoPlaza} -- ${data[i].nombre}</option>`;
                    }
                    $("#CargoId").html(options);
                    $("#PlazaId").html(options);
                },
                error: function() {
                    alert('Error de conexión con el servidor.');
                }
            });
        }
    </script>
}