﻿@model SistemaGestionTalentoHumano.Models.EmpleadoPlaza

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <form asp-action="Edit">
                <div class="card-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input hidden="hidden" asp-for="EmpleadoId" />
                    @*<input type="hidden" asp-for="CargoId" />*@
                    <div class="form-group">
                        <label asp-for="PlazaId" class="control-label"></label>
                        <select asp-for="PlazaId" class="form-control" asp-items="ViewBag.PlazaId"></select>
                        <span asp-validation-for="PlazaId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaInicio" class="control-label"></label>
                        <input asp-for="FechaInicio" class="form-control" />
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaFinal" class="control-label"></label>
                        <input asp-for="FechaFinal" class="form-control" />
                        <span asp-validation-for="FechaFinal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumeroContrato" class="control-label"></label>
                        <input asp-for="NumeroContrato" class="form-control" />
                        <span asp-validation-for="NumeroContrato" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Salario" class="control-label"></label>
                        <input asp-for="Salario" class="form-control" />
                        <span asp-validation-for="Salario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Observacion" class="control-label"></label>
                        <input asp-for="Observacion" class="form-control" />
                        <span asp-validation-for="Observacion" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Plaza.PlazaActiva" /> @Html.DisplayNameFor(model => model.Plaza.PlazaActiva)
                        </label>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index" asp-route-EmpleadoId="@ViewBag.EmpleadoId"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>