﻿@model IEnumerable<SistemaGestionTalentoHumano.Models.EmpleadoPlaza>

@{
    ViewData["Title"] = "Historial de cargos";
    var empleadoId = ViewContext.HttpContext.Request.Query["empleadoId"]; //ViewContext.RouteData.Values["empleadoId"];
}

<partial name="_Alertas" />

<div class="row mb-3">
    <div class="col-3">
        <a asp-action="Create" asp-route-empleadoId="@empleadoId" class="btn btn-primary btn-block btn-flat"><i class="fa fa-plus-circle"></i> Nuevo</a>
    </div>
    <div class="col-3">
        <a asp-controller="Empleados" asp-action="Details" asp-route-id="@empleadoId" class="btn btn-default btn-block btn-flat"><i class="fa fa-align-justify"></i> Volver a ficha</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lista</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table id="mainTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Empleado)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Cargo)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Plaza)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaInicio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaFinal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NumeroContrato)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Salario)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Plaza.PlazaActiva)
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @{ var nombreEmpledo = item.Empleado.GetNombreCompleto(); }
                                @Html.DisplayFor(modelItem => nombreEmpledo)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Cargo.Nombre)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Plaza.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaInicio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaFinal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumeroContrato)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Salario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Plaza.PlazaActiva)
                            </td>
                            <td class="text-right">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-flat"><i class="fa fa-edit"></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-default btn-flat"><i class="fa fa-align-justify"></i></a>
                                @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-flat"><i class="fa fa-trash"></i></a>*@
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>