﻿@model SistemaGestionTalentoHumano.Models.DescuentosDetalle

@{
    ViewData["Title"] = "Descuento";
    ViewData["CardTitle"] = "Agregar empleado ";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-action="AgregarEmpleado">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="EmpleadoId" class="control-label">Empleado</label>
                        <select asp-for="EmpleadoId" class="form-control" id="SelectEmpleado" asp-items="ViewBag.ListadoEmpleados">
                            <option value="">--- Sin asignar ---</option>
                        </select>
                        <span asp-validation-for="EmpleadoId" class="text-danger"></span>
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Agregar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>
