﻿@model IEnumerable<SistemaGestionTalentoHumano.Models.Marcaciones>

@{
    ViewData["Title"] = "Index";
}

<partial name="_Alertas" />

<div class="row mb-3">
    <div class="col-3">
        <a asp-action="Create" class="btn btn-primary btn-block btn-flat"><i class="fa fa-plus-circle"></i> Nuevo</a>
    </div>
    <div class="col-3">
        <a asp-action="ProcesaMarcas" class="btn btn-success btn-block btn-flat"><i class="fa fa-check-circle"></i> Procesar Marcaciones</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lista</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table id="mainTable2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CodigoEmpleado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Entrada)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Salida)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodigoEmpleado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Entrada)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Salida)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_DataTables" />

    <script type="text/javascript">
        $(document).ready(function () {

            $('#mainTable2 thead tr').clone(true).appendTo('#mainTable2 thead');
            $('#mainTable2 thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Buscar en ' + title.trim() + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            var table = $('#mainTable2').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}