﻿
@{
    ViewData["Title"] = "";
    ViewData["CardTitle"] = "Procesa Marcas";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <form asp-action="ProcesaMarcas">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Empleado</label>
                        <select class="form-control" asp-items="ViewBag.Empleados" name="Id"><option>Seleccione una opción</option></select>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg">
                            <label class="control-label">Fecha Inicial</label>
                            <input class="form-control" type="date" name="FechaInicial"/>
                        </div>
                        <div class="form-group col-lg">
                            <label class="control-label">Fecha Final</label>
                            <input class="form-control" type="date" name="FechaFinal"/>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Generar</button>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-controller="Marcaciones" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>