﻿@model IEnumerable<SistemaGestionTalentoHumano.Models.Prestaciones>

@{
    ViewData["Title"] = "Prestaciones";
}

<partial name="_Alertas" />

<div class="row mb-3">
    <div class="col-3">
        <a asp-action="Create" class="btn btn-primary btn-block btn-flat"><i class="fa fa-plus-circle"></i> Nuevo</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lista</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table id="mainTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PrestacionGerencial)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrestacionGerencial)
                                </td>
                                <td class="text-right">
                                    @if (!item.PrestacionAplicada)
                                    {
                                        <a data-id="@item.Id" data-toggle="modal" class="btn btn-success btn-flat" data-target="#modal-GenerarListado_@item.Id">
                                            <i title="Generar listado" class="fa fa-check"></i>
                                        </a>
                                    }
                                    else
                                    {

                                        <a asp-action="IndexPrestacion" asp-controller="PrestacionEmpleados" asp-route-id="@item.Id" class="btn btn-success btn-flat"><i class="fa fa-list"></i></a>

                                    }

                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-flat"><i class="fa fa-edit"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-default btn-flat"><i class="fa fa-align-justify"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-flat"><i class="fa fa-trash"></i></a>
                                </td>


                                <div class="modal fade" id="modal-GenerarListado_@item.Id">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Generacion de prestacion a todo el personal</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form asp-action="GenerarListado">
                                                <input type="hidden" name="PrestacionId" value=@item.Id />
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <p>Desea generar la prestacion para <strong>@item.Nombre</strong> para todo el personal?</p>
                                                    </div>
                                                </div>
                                                <div class="modal-footer justify-content-between">
                                                    <button type="submit" class="btn btn-success btn-flat">
                                                        <i class="fas fa-check-circle"></i> Generar
                                                    </button>
                                                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">
                                                        <i class="fas fa-times-circle"></i> Cancelar
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts
{
    <partial name="_DataTables" />
}