﻿@model SistemaGestionTalentoHumano.Models.DocumentosCapacitacion

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input hidden="hidden" asp-for="CapacitacionId" class="form-control" value="@ViewBag.Id" />

                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="control-label">Documento</label>
                    </div>
                    <div class="custom-file">
                        <input id="inputDocumento" type="file" asp-for="FFArchivo" class="custom-file-input">
                        <label id="labelDocumento" class="custom-file-label">Selecciona un archivo</label>
                        <span asp-validation-for="FFArchivo" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index" asp-route-id="@ViewBag.IdCapacitacion"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#inputDocumento').change(function (e) {
                $("#labelDocumento").text(e.target.files[0].name);
            });

            $('#inputDocumento').change(function () {
                $(this).next('#labelDocumento').html($(this).val().split("\\").pop());
            });

        });
    </script>
}