﻿@model SistemaGestionTalentoHumano.Models.Candidato

@{
    ViewData["Title"] = "Nuevo";
    ViewData["CardTitle"] = "Nuevo candidato";

}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PrimerNombre" class="control-label"></label>
                        <input asp-for="PrimerNombre" class="form-control" />
                        <span asp-validation-for="PrimerNombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SegundoNombre" class="control-label"></label>
                        <input asp-for="SegundoNombre" class="form-control" />
                        <span asp-validation-for="SegundoNombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PrimerApellido" class="control-label"></label>
                        <input asp-for="PrimerApellido" class="form-control" />
                        <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SegundoApellido" class="control-label"></label>
                        <input asp-for="SegundoApellido" class="form-control" />
                        <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ApellidoCasada" class="control-label"></label>
                        <input asp-for="ApellidoCasada" class="form-control" />
                        <span asp-validation-for="ApellidoCasada" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NombreArchivo" class="control-label"></label>
                        <input asp-for="NombreArchivo" class="form-control" />
                        <span asp-validation-for="NombreArchivo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProfesionOficioId" class="control-label"></label>
                        <select asp-for="ProfesionOficioId" class="form-control" asp-items="ViewBag.ProfesionOficioId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="EducacionId" class="control-label"></label>
                        <select asp-for="EducacionId" class="form-control" asp-items="ViewBag.EducacionId"></select>
                    </div>
                    <div>
                        <label class="control-label">Imagen Respaldo</label>
                    </div>
                    <div class="custom-file">
                        <input id="inputDocumento" type="file" asp-for="FFArchivo" class="custom-file-input">
                        <label id="labelDocumento" class="custom-file-label">Selecciona un archivo</label>
                        <span asp-validation-for="FFArchivo" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#inputDocumento').change(function (e) {
                $("#labelDocumento").text(e.target.files[0].name);
            });

            $('#inputDocumento').change(function () {
                $(this).next('#labelDocumento').html($(this).val().split("\\").pop());
            });

        });
    </script>
}