﻿@model SistemaGestionTalentoHumano.Models.Candidato

@{
    ViewData["Title"] = "Detalle";
    ViewData["CardTitle"] = "Candidato";

}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <dl>
                    <dt class="col-sm-8">
                        Nombre
                    </dt>
                    <dd class="col-sm-10">
                        @{ var NombreCompleto = Model.GetNombreCompleto(); }
                        @Html.DisplayFor(model => NombreCompleto)
                    </dd>
                    <dt class="col-sm-8">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>
                    <dt class="col-sm-8">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-8">
                        @Html.DisplayNameFor(model => model.ProfesionOficio)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ProfesionOficio.Nombre)
                    </dd>
                    <dt class="col-sm-8">
                        @Html.DisplayNameFor(model => model.Educacion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Educacion.Nombre)
                    </dd>
                    <dt class="col-sm-10">Documento</dt>
                    <dd class="col-sm-10">
                        @{ var archivo = Model.NombreArchivo;}
                        @if (archivo != null)
                        {
                        <embed width=700 height="150" type="application/pdf"
                               src="~/Documentos/@Html.DisplayFor(model => model.NombreArchivo)#toolbar=1" />
                        }
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-4">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-block btn-flat"><i class="fa fa-edit"></i> Editar</a>
                    </div>
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>