﻿@model SistemaGestionTalentoHumano.Models.PrestacionEmpleado

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Empleado: (@Model.EmpleadoId) @Model.Empleado.GetNombreCompleto() </h3>
            </div>
            <!-- /.card-header Model.Empleado.GetNombreCompleto()-->
            <!-- form start -->
            <form asp-action="Edit">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="FechaEntrega" class="control-label"></label>
                        <input asp-for="FechaEntrega" class="form-control" />
                        <span asp-validation-for="FechaEntrega" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PrestacionesId" class="control-label"></label>
                        <select asp-for="PrestacionesId" class="form-control" asp-items="ViewBag.PrestacionesId"></select>
                        <span asp-validation-for="PrestacionesId" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index" asp-route-Id="@Model.EmpleadoId"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>
