﻿@model IEnumerable<SistemaGestionTalentoHumano.Models.PrestacionEmpleado>

@{
    ViewData["Title"] = "Index";
}

<partial name="_Alertas" />

<div class="row mb-3">
    <div class="col-3">
        <a asp-controller="prestaciones" asp-action="Index" class="btn btn-default btn-block btn-flat"><i class="fa fa-arrow-left"></i> Volver lista prestaciones</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Prestacion de @ViewBag.NombrePrestacion</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table id="mainTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Empleado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaEntrega)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @{ var NombreCompleto = item.Empleado.GetNombreCompleto(); }
                                    @Html.DisplayFor(modelItem => NombreCompleto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaEntrega)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts
{
    <partial name="_DataTables" />
}