﻿@model SistemaGestionTalentoHumano.Models.ReferenciasPersonales

@{
    ViewData["Title"] = "Nueva referencia personal";
}


<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Empleado: (@ViewBag.empleadoId) @ViewBag.NombreEmpleado</h3>
            </div>
            <form asp-action="Create">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input hidden="hidden" asp-for="EmpleadoId" class="form-control" value="@ViewBag.empleadoId" />
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LugarTrabajo" class="control-label"></label>
                        <input asp-for="LugarTrabajo" class="form-control" />
                        <span asp-validation-for="LugarTrabajo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index" asp-route-id="@ViewBag.empleadoId"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $('#Telefono').inputmask("9999-9999");
    </script>
}