﻿@model SistemaGestionTalentoHumano.Models.FasesEvaluaciones

@{
    ViewData["Title"] = "Creacion de Fases de Evaluaciones";
    ViewData["CardTitle"] = "Fases de Evaluaciones";

}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <form asp-action="Create">
                <div class="card-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NombreFase" class="control-label"></label>
                        <input asp-for="NombreFase" class="form-control" />
                        <span asp-validation-for="NombreFase" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PorcentajeEvaluacion" class="control-label"></label>
                        <input asp-for="PorcentajeEvaluacion" class="form-control" />
                        <span asp-validation-for="PorcentajeEvaluacion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoEvaluacionesId" class="control-label"></label>
                        <select asp-for="TipoEvaluacionesId" class="form-control" asp-items="ViewBag.TipoEvaluacionesId"></select>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
