﻿@model IEnumerable<SistemaGestionTalentoHumano.Models.AumentoDetalle>

@{
    ViewData["Title"] = "Detalles";
    ViewData["CardTitle"] = "Aumentos";
}

<partial name="_Alertas" />

<div class="row mb-3">
    <div class="col-3">
        <a asp-action="CreateEmpleadoAumento" asp-route-id="@ViewBag.idEmpleado" class="btn btn-primary btn-block btn-flat"><i class="fa fa-plus-circle"></i> Nuevo Aumento</a>
    </div>
    <div class="col-3">
        <a asp-controller="Empleados" asp-action="Index" class="btn btn-default btn-block btn-flat"><i class="fa fa-arrow-left"></i> Volver lista empleados</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <div class="card-body table-responsive">
                <table id="mainTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Aumentos.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fecha)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Aumentos.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_DataTables" />
}
