﻿@model SistemaGestionTalentoHumano.Models.Plaza

@{
    ViewData["Title"] = "Editar";
    ViewData["CardTitle"] = "Plaza";
}


<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-action="Edit">

                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label asp-for="Nombre"></label>
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label asp-for="NombreCorto"></label>
                                <input asp-for="NombreCorto" class="form-control" />
                                <span asp-validation-for="NombreCorto" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label asp-for="FamiliaPlazasId"></label>
                                <select asp-for="FamiliaPlazasId" class="form-control" asp-items="ViewBag.FamiliaPlazaId"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label asp-for="DepartamentoSiget.Gerencia.Nombre"></label>
                                <select asp-for="DepartamentoSiget.Gerencia.Id" id="GerenciaId" class="form-control" asp-items="ViewBag.GerenciaId"></select>
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label asp-for="DepartamentoSigetId"></label>
                                <select asp-for="DepartamentoSigetId" class="form-control" asp-items="ViewBag.DepartamentoSigetId"></select>
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label asp-for="Acuerdo"></label>
                                <input asp-for="Acuerdo" class="form-control" />
                                <span asp-validation-for="Acuerdo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">

                            <div class="form-group">
                                <label asp-for="CodigoPlaza"></label>
                                <input asp-for="CodigoPlaza" class="form-control" />
                                <span asp-validation-for="CodigoPlaza" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg">

                            <div class="form-group">
                                <label asp-for="FechaCreacion"></label>
                                <input asp-for="FechaCreacion" class="form-control" />
                                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg">

                            <div class="form-group">
                                <label asp-for="PlazaActiva"></label>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" asp-for="PlazaActiva">
                                    <label asp-for="PlazaActiva" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#GerenciaId").on('change', getDepartamentosSiget);

        function getDepartamentosSiget() {
            let departamentoSigetId = $("#GerenciaId").val();
            $.ajax({
                url: '/Plazas/GetDepartamentosByGerencia?id=' + departamentoSigetId,
                contentType: 'application/json',
                type: 'GET',
                success: function (data) {
                    var options = "";
                    for (var i = 0; i < data.length; i++) {
                        options += "<option value='" + data[i].id + "'>" + data[i].nombre + "</option>";
                    }
                    $("#DepartamentoSigetId").html(options);
                },
                error: function () {
                    alert('Error de conexión con el servidor.');
                }
            });
        }
    </script>
}