﻿@model SistemaGestionTalentoHumano.Models.Municipio

@{
    ViewData["Title"] = "Detalle Municipio";
    ViewData["CardTitle"] = "Municipio";

}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Departamento)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Departamento.Nombre)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-4">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-block btn-flat"><i class="fa fa-edit"></i> Editar</a>
                    </div>
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>