﻿@model SistemaGestionTalentoHumano.Models.HorariosEmpleado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HorariosEmpleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horarios.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.DireccionResidencia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
