﻿@model SistemaGestionTalentoHumano.Models.HorariosEmpleado

@{
    ViewData["Title"] = "Crear permiso para usuario";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Horario: @ViewBag.Horario</h3>
            </div>
            <form asp-action="Create">
                <div class="card-body">
                    <input hidden="hidden" asp-for="HorariosId" asp-items="@ViewBag.HorariosId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="EmpleadoId" class="control-label"></label>
                        <select asp-for="EmpleadoId" class="form-control" asp-items="@ViewBag.empleados"></select>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index" asp-route-id="@ViewBag.empleadoId"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
