﻿@model IEnumerable<SistemaGestionTalentoHumano.Models.HorariosEmpleado>

@{
    ViewData["Title"] = "Index";
}

<div class="row mb-3">
    <div class="col-3">
        <a asp-action="Create" asp-route-id="@ViewBag.HorarioId" class="btn btn-primary btn-block btn-flat"><i class="fa fa-plus-circle"></i> Agregar Empleado</a>
    </div>
    <div class="col-3">
        <a asp-controller="Horarios" asp-action="Index" class="btn btn-default btn-block btn-flat"><i class="fa fa-arrow-left"></i> Volver lista horarios</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
                <h4>Horario: @ViewBag.Horario (Desde @ViewBag.FechasDesde hasta @ViewBag.FechasFin)</h4>
            </div 
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table id="mainTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Empleado)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @{ var NombreCompleto = item.Empleado.GetNombreCompleto(); }
                                    @Html.DisplayFor(modelItem => NombreCompleto)
                                </td>
                                <td class="text-right">
                                    @*<a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning btn-flat"><i class="fa fa-edit"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-default btn-flat"><i class="fa fa-align-justify"></i></a>*@
                                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger btn-flat"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts
{
    <partial name="_DataTables" />
}
