﻿@model SistemaGestionTalentoHumano.Models.Acuerdos

@{
    ViewData["Title"] = "Nuevo Acuerdos";
    ViewData["CardTitle"] = "Acuerdos";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-action="Create">
                <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NumeroAcuerdo" class="control-label"></label>
                            <input asp-for="NumeroAcuerdo" class="form-control" />
                            <span asp-validation-for="NumeroAcuerdo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FechaAcuerdo" class="control-label"></label>
                            <input asp-for="FechaAcuerdo" type="date" class="form-control" />
                            <span asp-validation-for="FechaAcuerdo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Comentarios" class="control-label"></label>
                            <input asp-for="Comentarios" class="form-control" />
                            <span asp-validation-for="Comentarios" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EmpleadoId" class="control-label"></label>
                            <select asp-for="EmpleadoId" class="form-control" asp-items="ViewBag.EmpleadoId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="AcuerdoId" class="control-label"></label>
                            <select asp-for="AcuerdoId" class="form-control" asp-items="ViewBag.AcuerdoId"></select>
                        </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>