﻿@model SistemaGestionTalentoHumano.Models.Acuerdos

@{
    ViewData["Title"] = "Eliminar Acuerdos";
    ViewData["CardTitle"] = "Acuerdos";
}


<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h3>¿Está seguro de eliminar este elemento?</h3><hr />
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <div class="card-body">
                <dl>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.NumeroAcuerdo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NumeroAcuerdo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FechaAcuerdo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FechaAcuerdo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Comentarios)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Comentarios)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Empleado)
                    </dt>
                    <dd class="col-sm-10">
                        @{ var NombreCompleto = Model.Empleado.GetNombreCompleto(); }
                        @Html.DisplayFor(model => NombreCompleto)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Acuerdo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Acuerdo.Acuerdo)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <form asp-action="Delete">
                    <div class="row">
                        <div class="col-4">
                            <input type="hidden" asp-for="Id" />
                            <button type="submit" class="btn btn-danger btn-block btn-flat"><i class="fa fa-trash"></i> Eliminar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>