﻿@model SistemaGestionTalentoHumano.Models.Acuerdos

@{
    ViewData["Title"] = "Detalles";
    ViewData["CardTitle"] = "Acuerdos";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <div class="card-body">
                <dl>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.NumeroAcuerdo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NumeroAcuerdo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FechaAcuerdo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FechaAcuerdo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Comentarios)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Comentarios)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Empleado)
                    </dt>
                    <dd class="col-sm-10">
                        @{ var NombreCompleto = Model.Empleado.GetNombreCompleto(); }
                        @Html.DisplayFor(model => NombreCompleto)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Acuerdo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Acuerdo.Acuerdo)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-4">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-block btn-flat"><i class="fa fa-edit"></i> Editar</a>
                    </div>
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>