﻿@model SistemaGestionTalentoHumano.Models.Vacaciones

@{
    ViewData["Title"] = "Nueva Vacaciones";
    ViewData["CardTitle"] = "Vacaciones";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <form asp-action="Create">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="EmpleadoId" class="control-label">Empleado</label>
                        <select asp-for="EmpleadoId" class="form-control" asp-items="ViewBag.Empleados">
                            <option value="">--- Sin asignar ---</option>
                        </select>
                        <span asp-validation-for="EmpleadoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Inicio" class="control-label" ></label>
                        <input asp-for="Inicio" type="date" class="form-control" />
                        <span asp-validation-for="Inicio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fin" class="control-label"></label>
                        <input asp-for="Fin" type="date" class="form-control" />
                        <span asp-validation-for="Fin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Periodo" class="control-label"></label>
                        <select asp-for="Periodo" class="form-control" asp-items="ViewBag.Periodo">
                            <option value="">--- Sin asignar ---</option>
                        </select>
                        <span asp-validation-for="Periodo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comentario" class="control-label"></label>
                        <input asp-for="Comentario" class="form-control" />
                        <span asp-validation-for="Comentario" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

