﻿@model SistemaGestionTalentoHumano.ViewModels.EmpleadoViewModel

@{
    ViewData["Title"] = "Detalle de Empleado";
    ViewData["CardTitle"] = "Empleado";
}

<div class="row">
    <div class="col-md-8 offset-lg-2">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <h4 class="mb-4">
                    <strong>Nombre: (@Model.CodigoEmpleado) @Model.NombreCompleto</strong>
                </h4>
                <h4 class="mb-4">
                    <strong>Cargo actual: @Model.CargoActual</strong>
                </h4>

                <div class="card">
                    <div class="card-header p-0">
                        <ul class="nav nav-pills ml-auto p-2">
                            <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Datos Generales</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Datos de emergencia</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Datos Pago</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab_4" data-toggle="tab">Nivel de Educacion</a></li>

                            <li class="nav-item"><a class="nav-link" href="#tab_5" data-toggle="tab">Idiomas</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab_6" data-toggle="tab">Grupo Familiar</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab_7" data-toggle="tab">Referencias Personales</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <!--Datos generales-->
                            <div class="tab-pane active" id="tab_1">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row ">
                                            <dl class="col-md">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Activo)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.Activo)
                                                </dd>
                                            </dl>
                                            <dl class="col-md">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.PrestacionesGerenciales)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.PrestacionesGerenciales)
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="row ">
                                            <dl class="col-md">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Jubilado)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.Jubilado)
                                                </dd>
                                            </dl>
                                            <dl class="col-md">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Marcacion)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.Marcacion)
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="row">
                                            <dl class="col-md">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Sexo)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.Sexo.Nombre)
                                                </dd>
                                            </dl>
                                            <dl class="col-md">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.FechaIngreso)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.FechaIngreso)
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        @if (Model.RutaImagen != null)
                                        {
                                            <img src="~/FotosEmpleados/@Model.RutaImagen" alt="codigo" style="width: 200px; height: 200px;">
                                        }
                                        else
                                        {
                                            <img src="~/img/default-user-image.png" alt="codigo" style="width: 200px; height: 200px;">
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.FechaRetiro)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.FechaRetiro)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Dui)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Dui)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Nit)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Nit)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="row">
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Isss)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Isss)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.FondoPension)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.FondoPension.Nombre)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.NumeroFondoPension)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.NumeroFondoPension)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="row">
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Pasaporte)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Pasaporte)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.TelefonoFijo)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.TelefonoFijo)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.TelefonoMovil)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.TelefonoMovil)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="row">
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.EmailPersonal)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.EmailPersonal)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.FechaNacimiento)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.FechaNacimiento)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.EstadoCivil)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.EstadoCivil.Nombre)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="row">
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.TipoSangre)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.TipoSangre.Nombre)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Municipio.Departamento)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Municipio.Departamento.Nombre)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Municipio)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Municipio.Nombre)
                                        </dd>
                                    </dl>

                                </div>
                                <div class="row">
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.PoseeLicencia)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.PoseeLicencia)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.DireccionResidencia)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.DireccionResidencia)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Observaciones)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Observaciones)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <!--Datos de emergencia-->
                            <div class="tab-pane" id="tab_2">
                                <div class="row">
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.NombreContactoEmergencia)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.NombreContactoEmergencia)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.TelefonoEmergencia)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.TelefonoEmergencia)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="row">
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.DireccionEmergencia)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.DireccionEmergencia)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.ObservacionesEmergencia)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.ObservacionesEmergencia)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <!--Datos pago-->
                            <div class="tab-pane" id="tab_3">
                                <div class="row">
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.FormaPago)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.FormaPago.Nombre)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Banco)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Banco.Nombre)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="row">
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.NumeroCuenta)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.NumeroCuenta)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.TipoCuenta)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.TipoCuenta.Nombre)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <!--Nivel de Educacion -->
                            <div id="tab_4" class="tab-pane">
                                    @foreach (var NivelEducacion in Model.EducacionEmpleado)
                                    {
                                        <div class="row">
                                            <dl class="col-md">
                                                <dt>
                                                    @Html.DisplayNameFor(modelItem => NivelEducacion.GradoAcademico)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => NivelEducacion.GradoAcademico)
                                                </dd>
                                            </dl>
                                            <dl class="col-md">
                                                <dt>
                                                    @Html.DisplayNameFor(modelItem => NivelEducacion.Educacion.Nombre)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => NivelEducacion.Educacion.Nombre)
                                                </dd>
                                            </dl>
                                            <dl class="col-md">
                                                <dt>
                                                    @Html.DisplayNameFor(modelItem => NivelEducacion.CentroEducativo.Nombre)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => NivelEducacion.CentroEducativo.Nombre)
                                                </dd>
                                            </dl>
                                            <dl class="col-md">
                                                <dt>
                                                    @Html.DisplayNameFor(modelItem => NivelEducacion.Año)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => NivelEducacion.Año)
                                                </dd>
                                            </dl>
                                        </div>
                                    }
                            </div>
                            <!--Idiomas-->
                            <div class="tab-pane" id="tab_5">
                                @foreach (var idioma in Model.IdiomasEmpleado)
                                {
                                    <div class="row">
                                        <dl class="col-md">
                                            <dt>
                                                @Html.DisplayNameFor(modelItem => idioma.Idioma.Idioma)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(modelItem => idioma.Idioma.Idioma)
                                            </dd>
                                        </dl>
                                        <dl class="col-md">
                                            <dt>
                                                @Html.DisplayNameFor(modelItem => idioma.NivelIdioma)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(modelItem => idioma.NivelIdioma)
                                            </dd>
                                        </dl>
                                    </div>
                                }
                            </div>
                            <!--Grupo familiar-->
                            <div class="tab-pane" id="tab_6">
                                @foreach (var grupo in Model.GrupoFamiliarEmpleado) {
                                <div class="row">
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(modelItem => grupo.MiembrosFamilia.Miembro)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(modelItem => grupo.MiembrosFamilia.Miembro)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(modelItem => grupo.Nombre)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(modelItem => grupo.Nombre)
                                        </dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>
                                            @Html.DisplayNameFor(modelItem => grupo.FechaNacimiento)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(modelItem => grupo.FechaNacimiento)
                                        </dd>
                                    </dl>
                                </div>
                                }
                            </div>
                            <!--Referencia Personal-->
                            <div class="tab-pane" id="tab_7">
                                @foreach (var referencias in Model.ReferenciasPersonales) {
                                <div class="row">
                                    <dl class="col-md">
                                        <dt>@Html.DisplayNameFor(modelItem => referencias.Nombre)</dt>
                                        <dd>@Html.DisplayFor(modelItem => referencias.Nombre)</dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>@Html.DisplayNameFor(modelItem => referencias.LugarTrabajo)</dt>
                                        <dd>@Html.DisplayFor(modelItem => referencias.LugarTrabajo)</dd>
                                    </dl>
                                    <dl class="col-md">
                                        <dt>@Html.DisplayNameFor(modelItem => referencias.Telefono)</dt>
                                        <dd>@Html.DisplayFor(modelItem => referencias.Telefono)</dd>
                                    </dl>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <div class="row">
                    <div class="col-4">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-block btn-flat"><i class="fa fa-edit"></i> Editar</a>
                    </div>
                    <div class="col-4">
                        <a asp-controller="EmpleadoPlazas" asp-action="Index" asp-route-empleadoId="@Model.Id" class="btn btn-success btn-block btn-flat"><i class="fa fa-address-card"></i> Historial de cargos</a>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>