﻿@model SistemaGestionTalentoHumano.ViewModels.EmpleadoViewModel

@{
    ViewData["Title"] = "Editar Empleado";
    ViewData["CardTitle"] = "Ficha Empleado";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-action="Edit" enctype="multipart/form-data" method="post">
                <div class="card">
                    <div class="card-header p-0">
                        <ul class="nav nav-pills ml-auto p-2">
                            <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Datos Generales</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Datos de emergencia</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Datos Pago</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <!-- Datos generales-->
                            <div class="tab-pane active" id="tab_1">
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" asp-for="Jubilado">
                                                <label asp-for="Jubilado" class="custom-control-label"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" asp-for="Marcacion">
                                                <label asp-for="Marcacion" class="custom-control-label"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" asp-for="PrestacionesGerenciales">
                                                <label asp-for="PrestacionesGerenciales" class="custom-control-label"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="CodigoEmpleado"></label>
                                            <input asp-for="CodigoEmpleado" class="form-control" readonly="readonly"/>
                                            <span asp-validation-for="CodigoEmpleado" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="FechaIngreso"></label>
                                            <input asp-for="FechaIngreso" class="form-control" />
                                            <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg">
                                                <div class="form-group">
                                                    <label asp-for="PrimerNombre"></label>
                                                    <input asp-for="PrimerNombre" class="form-control" />
                                                    <span asp-validation-for="PrimerNombre" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg">
                                                <div class="form-group">
                                                    <label asp-for="SegundoNombre"></label>
                                                    <input asp-for="SegundoNombre" class="form-control" />
                                                    <span asp-validation-for="SegundoNombre" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg">
                                                <div class="form-group">
                                                    <label asp-for="TercerNombre"></label>
                                                    <input asp-for="TercerNombre" class="form-control" />
                                                    <span asp-validation-for="TercerNombre" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg">
                                                <div class="form-group">
                                                    <label asp-for="PrimerApellido"></label>
                                                    <input asp-for="PrimerApellido" class="form-control" />
                                                    <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg">
                                                <div class="form-group">
                                                    <label asp-for="SegundoApellido"></label>
                                                    <input asp-for="SegundoApellido" class="form-control" />
                                                    <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg">
                                                <div class="form-group">
                                                    <label asp-for="ApellidoCasada"></label>
                                                    <input asp-for="ApellidoCasada" class="form-control" />
                                                    <span asp-validation-for="ApellidoCasada" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        @if (Model.RutaImagen != null)
                                        {
                                            <div class="fileinput fileinput-exists" data-provides="fileinput">
                                                <label asp-for="RutaImagen"></label>
                                                <input asp-for="RutaImagen" hidden="hidden" />
                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    <img src="~/FotosEmpleados/@Model.RutaImagen">
                                                </div>
                                                @*<div>
                                                    <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Seleccionar imagen</span>
                                                        <span class="fileinput-exists">Cambiar</span>
                                                        <input asp-for="RutaImagen" type="file">
                                                    </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                                </div>*@
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <label asp-for="RutaImagen"></label>
                                                <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-outline-secondary btn-file">
                                                        <span class="fileinput-new">Seleccionar imagen</span>
                                                        <span class="fileinput-exists">Cambiar</span>
                                                        <input asp-for="RutaImagen" type="file">
                                                    </span>
                                                    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                        </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="ConocidoPor"></label>
                                            <input asp-for="ConocidoPor" class="form-control" />
                                            <span asp-validation-for="ConocidoPor" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label>Sexo</label>
                                            <select asp-for="SexoId" class="form-control" asp-items="ViewBag.Sexos"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="DireccionResidencia"></label>
                                            <textarea asp-for="DireccionResidencia" class="form-control" rows="3"></textarea>
                                            <span asp-validation-for="DireccionResidencia" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="FechaNacimiento"></label>
                                            <input asp-for="FechaNacimiento" class="form-control" />
                                            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="ProfesionOficioId"></label>
                                            <select asp-for="ProfesionOficioId" class="form-control" asp-items="ViewBag.ProfesionOficio"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="DepartamentoId"></label>
                                            <select asp-for="DepartamentoId" class="form-control" asp-items="ViewBag.Departamentos">
                                                <option>Seleccione una opción</option>
                                            </select>
                                            <span asp-validation-for="DepartamentoId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="MunicipioId"></label>
                                            <select asp-for="MunicipioId" class="form-control" asp-items="ViewBag.Municipios"></select>
                                            <span asp-validation-for="MunicipioId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="EstadoCivilId"></label>
                                            <select asp-for="EstadoCivilId" class="form-control" asp-items="ViewBag.EstadosCivil"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="TipoSangreId"></label>
                                            <select asp-for="TipoSangreId" class="form-control" asp-items="ViewBag.TiposSangre"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="FondoPensionId"></label>
                                            <select asp-for="FondoPensionId" class="form-control" asp-items="ViewBag.FondosPension"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="NumeroFondoPension"></label>
                                            <input asp-for="NumeroFondoPension" class="form-control" />
                                            <span asp-validation-for="NumeroFondoPension" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="Dui"></label>
                                            <input asp-for="Dui" class="form-control" />
                                            <span asp-validation-for="Dui" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="Nit"></label>
                                            <input asp-for="Nit" class="form-control" />
                                            <span asp-validation-for="Nit" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="Isss"></label>
                                            <input asp-for="Isss" class="form-control" />
                                            <span asp-validation-for="Isss" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="FechaEmisionDui"></label>
                                            <input asp-for="FechaEmisionDui" class="form-control" />
                                            <span asp-validation-for="FechaEmisionDui" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="FechaVencimientoDui"></label>
                                            <input asp-for="FechaVencimientoDui" class="form-control" />
                                            <span asp-validation-for="FechaVencimientoDui" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="TelefonoFijo"></label>
                                            <input asp-for="TelefonoFijo" class="form-control" />
                                            <span asp-validation-for="TelefonoFijo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="TelefonoMovil"></label>
                                            <input asp-for="TelefonoMovil" class="form-control" />
                                            <span asp-validation-for="TelefonoMovil" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="NacionalidadId"></label>
                                            <select asp-for="NacionalidadId" class="form-control" asp-items="ViewBag.Nacionalidades"></select>
                                            <span asp-validation-for="NacionalidadId" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="EmailPersonal"></label>
                                            <input asp-for="EmailPersonal" class="form-control" />
                                            <span asp-validation-for="EmailPersonal" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="Pasaporte"></label>
                                            <input asp-for="Pasaporte" class="form-control" />
                                            <span asp-validation-for="Pasaporte" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="PoseeLicencia"></label>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" asp-for="PoseeLicencia">
                                                <label asp-for="PoseeLicencia" class="custom-control-label"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <!-- Datos de emergencia-->
                            <div class="tab-pane" id="tab_2">
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="NombreContactoEmergencia"></label>
                                            <input asp-for="NombreContactoEmergencia" class="form-control" />
                                            <span asp-validation-for="NombreContactoEmergencia" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="TelefonoEmergencia"></label>
                                            <input asp-for="TelefonoEmergencia" class="form-control" />
                                            <span asp-validation-for="TelefonoEmergencia" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="DireccionEmergencia"></label>
                                            <input asp-for="DireccionEmergencia" class="form-control" />
                                            <span asp-validation-for="DireccionEmergencia" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="ObservacionesEmergencia"></label>
                                            <input asp-for="ObservacionesEmergencia" class="form-control" />
                                            <span asp-validation-for="ObservacionesEmergencia" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <!-- Datos de pago-->
                            <div class="tab-pane" id="tab_3">
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="FormaPagoId"></label>
                                            <select asp-for="FormaPagoId" class="form-control" asp-items="ViewBag.FormasPago"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="BancoId"></label>
                                            <select asp-for="BancoId" class="form-control" asp-items="ViewBag.Bancos"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="NumeroCuenta"></label>
                                            <input asp-for="NumeroCuenta" class="form-control" type="number"/>
                                            <span asp-validation-for="NumeroCuenta" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="TipoCuentaId"></label>
                                            <select asp-for="TipoCuentaId" class="form-control" asp-items="ViewBag.TiposCuenta"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="form-group">
                                            <label asp-for="Observaciones"></label>
                                            <input asp-for="Observaciones" class="form-control" />
                                            <span asp-validation-for="Observaciones" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        let contadorIdioma = 0, contadorFamilia = 0, contadorReferencia = 0, contadorTitulos = 0;

        // Activando mascara para inputs necesarios
        $('#Dui').inputmask("99999999-9");
        $('#Nit').inputmask("9999-999999-999-9");
        $('#TelefonoFijo').inputmask("9999-9999");
        $('#TelefonoMovil').inputmask("9999-9999");
        $('#TelefonoInstitucional').inputmask("9999-9999");
        $('#TelefonoEmergencia').inputmask("9999-9999");
        $('#ReferenciaTelefono').inputmask("9999-9999");

        $("#DepartamentoId").on('change', getMunicipios);

        function getMunicipios() {
            let departamentoId = $("#DepartamentoId").val();
            $.ajax({
                url: '/api/MunicipiosApi?departamentoId=' + departamentoId,
                contentType: 'application/json',
                type: 'GET',
                success: function (data) {
                    var options = "";
                    for (var i = 0; i < data.length; i++) {
                        options += "<option value='" + data[i].id + "'>" + data[i].nombre + "</option>";
                    }
                    $("#MunicipioId").html(options);
                },
                error: function () {
                    alert('Error de conexión con el servidor.');
                }
            });
        }

        $(document).ready(function () {

            $('#inputImagen').change(function (e) {
                var fileName = e.target.files[0].name;
                $("#labelImagen").text(fileName);
            });

            $('#inputImagen').change(function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('#labelImagen').html(fileName);
            });

        });
    </script>
}