﻿@model IEnumerable<SistemaGestionTalentoHumano.ViewModels.EmpleadoViewModel>

@{
    ViewData["Title"] = "Empleados";
}

<partial name="_Alertas" />

<div class="row mb-3">
    <div class="col-3">
        <a asp-action="Create" class="btn btn-primary btn-block btn-flat"><i class="fa fa-plus-circle"></i> Nuevo</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lista</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table id="mainTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CodigoEmpleado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NombreCompleto)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CodigoEmpleado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreCompleto)
                            </td>
                            <td class="text-right">
                                @* si no tiene plaza se muestra en boton de asignacion de plaza. *@
                                @if (item.EmpleadoPlaza.Count() == 0)
                                {
                                    <a asp-controller="EmpleadoPlazas" asp-action="Create" asp-route-empleadoId="@item.Id" class="btn btn-success btn-flat">
                                        <i class="fa fa-file-alt"></i></a>
                                }

                                <div class="btn-group">
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                    </button>
                                    <ul class="dropdown-menu">
                                        <a asp-action="NivelEducacion" asp-route-id="@item.Id" class="dropdown-item">Nivel de Educación</a>
                                        <a asp-action="IdiomaEducacion" asp-route-id="@item.Id" class="dropdown-item">Idiomas</a>
                                        <a asp-action="GrupoFamiliarEmpleados" asp-route-id="@item.Id" class="dropdown-item">Grupo Familiar</a>
                                        <a asp-action="ReferenciasPersonales" asp-route-id="@item.Id" class="dropdown-item">Referencias Personales</a>
                                        <a asp-action="PrestacionEmpleados" asp-route-id="@item.Id" class="dropdown-item">Prestaciones del Empleado</a>
                                        <a asp-action="DocumentoEmpleados" asp-route-id="@item.Id" class="dropdown-item">Documentos</a>
                                        <a asp-action="EvaluacionesDesempeño" asp-route-id="@item.Id" class="dropdown-item">Evaluacion del Desempeño</a>
                                        <a asp-action="DescuentoEmpleado" asp-route-id="@item.Id" class="dropdown-item">Descuentos</a>
                                        <a asp-action="AumentoEmpleado" asp-route-id="@item.Id" class="dropdown-item">Aumentos</a>
                                    </ul>
                                </div>

                                @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-flat"><i class="fa fa-edit"></i></a>*@
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-default btn-flat"><i class="fa fa-align-justify"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-flat"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts
{
    <partial name="_DataTables" />
}