﻿@if (ViewBag.TipoAlerta == 1)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> ¡Guardado!</h5>
        Datos guardados exitosamente.
    </div>
}
@if (ViewBag.TipoAlerta == 2)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> ¡Eliminado!</h5>
        Eliminado exitosamente.
    </div>
}