﻿<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="~/img/logo_goes.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">SIGET</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/img/man.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Nombre Usuario</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Privacy
                        </p>
                    </a>
                </li>
                <li class="nav-header">ACCIONES</li>
                <!-- Empleados -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-id-card"></i>
                        <p>
                            Empleados
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Empleados" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Lista</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Permisos" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Permisos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Vacaciones" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Vacaciones</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="DiasFeriados" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dias Feriados</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Horarios" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Horarios</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Marcaciones" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Marcas</p>
                            </a>
                        </li>

                        @*<li class="nav-item">
                    <a asp-controller="Acuerdos" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Acuerdos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="AccionesDePersonal" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Acciones de Personal</p>
                    </a>
                </li>*@
                    </ul>
                </li>
                <!-- Departamentos SIGET -->
                @*<li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-sitemap"></i>
                <p>
                    Departamentos
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="DepartamentosSiget" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Lista</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="SubDepartamentosSiget" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Sub-departamentos</p>
                    </a>
                </li>
            </ul>
        </li>*@
                <!-- Plazas -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-list-alt"></i>
                        <p>
                            Plazas
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Plazas" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Lista</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Capacitaciones -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-list-alt"></i>
                        <p>
                            Capacitaciones
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Capacitacion" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Capacitaciones</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Facilitadores" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Facilitadores</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="MetricasCapacitaciones" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Metricas Capacitaciones</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Candidatos-->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-list-alt"></i>
                        <p>
                            Candidatos
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Candidatos" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Candidatos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Acciones de Aumentos/Descuentos -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-list-alt"></i>
                        <p>
                            Aumentos/Descuentos
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Descuentos" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Descuentos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Aumentos" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Aumentos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Catálogos -->
                @if ((await AuthorizationService.AuthorizeAsync(User, "RolAdministrador")).Succeeded)
                { 
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon far fa-list-alt"></i>
                            <p>
                                Catálogos
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-controller="Bancos" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Bancos</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="FondosPension" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Fondo Pensión</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TipoAccionesDePersonal" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Tipo Acciones de Personal</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TipoAcuerdos" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Tipo Acuerdos</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TipoPermisos" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Tipo Permisos</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Gerencias" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gerencias</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="DepartamentoSiget" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Unidades SIGET</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Sexo" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Sexo</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Idiomas" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Idiomas</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="EstadoCivil" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Estado Civil</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TipoSangre" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Tipo de Sangre</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TipoCuenta" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Tipo de Cuenta</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Departamento" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Departamento</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Municipio" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Municipio</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="FormaPago" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Formas de Pago</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="ProfesionOficio" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Profesiones u Oficios</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Nacionalidades" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Nacionalidades</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="MiembrosFamilia" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Parentesco</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="FamiliaPlaza" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Familia de Plaza</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Parametros" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Parametros</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="CentroEducativos" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Centro Educativo</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Educacion" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Nivel de Educacion</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Documentos" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Documentos contratacion</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Prestaciones" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Prestaciones</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TipoEvaluaciones" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Tipo Evaluaciones</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="FasesEvaluaciones" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Fases de Evaluaciones</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="PreguntasFases" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Preguntas por Fases</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="nav-header">LABELS</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-circle text-danger"></i>
                        <p class="text">Important</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-circle text-warning"></i>
                        <p>Warning</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-circle text-info"></i>
                        <p>Informational</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>