﻿@model SistemaGestionTalentoHumano.Models.ReferenciasPersonales

    <p>
        buscar:     <input type="submit" value="Confirmar" />
    </p>

    <div class="tab-pane">
        <div class="row">
            <div class="col-lg">
                <div class="form-group">
                    <label asp-for="Nombre"></label>
                    <input asp-for="Nombre" id="ReferenciaNombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    <label asp-for="LugarTrabajo"></label>
                    <input asp-for="LugarTrabajo" id="ReferenciaLugarTrabajo" class="form-control" />
                    <span asp-validation-for="LugarTrabajo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    <label asp-for="Telefono"></label>
                    <input asp-for="Telefono" id="ReferenciaTelefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    <h5><label title=""></label></h5>
                    <input type="button" class="btn btn-primary btn-block btn-flat" id="addReferencia" value="Agregar Referencia" />
                </div>
            </div>
        </div>
        <hr />
        <table id="ReferenciasPersonales" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="display:none;">Id</th>
                    <th>Nombre Referencia</th>
                    <th>Lugar Trabajo Referencia</th>
                    <th>Telefono Referencia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                @*@ { int contador = 0; }
            @ foreach (var referencia in Model.ReferenciasPersonales)
            {
                <tr id="@ contador">
                    <td>
                        @ Html.DisplayFor(modelItem => referencia.Nombre)
                    </td>
                    <td>
                        @ Html.DisplayFor(modelItem => referencia.LugarTrabajo)
                    </td>
                    <td>
                        @ Html.DisplayFor(modelItem => referencia.Telefono)
                    </td>
                    <td><input type='button' class='ibtnDel btn btn-md btn-danger' value='Eliminar'></td>
                </tr>
                contador++;
            }*@
            </tbody>
                </table>
        <div id="divReferenciasPersonales">


        </div>
    </div>
