﻿@model IEnumerable<SistemaGestionTalentoHumano.Models.TipoPermiso>

@{
    ViewData["Title"] = "Tipo Permiso";
}

<div class="row mb-3">
    <div class="col-3">
        <a asp-action="Create" class="btn btn-primary btn-block btn-flat"><i class="fa fa-plus-circle"></i> Nuevo</a>
    </div>
</div>




<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lista</h3>
            </div>
            <div class="card-body table-responsive">
                <table id="mainTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th hidden="hidden">
                                @Html.DisplayNameFor(model => model.Permiso)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Permiso)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td hidden="hidden">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Permiso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td class="text-right">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-flat"><i class="fa fa-edit"></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-default btn-flat"><i class="fa fa-align-justify"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-flat"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_DataTables" />
}
