﻿@model SistemaGestionTalentoHumano.Models.Parametros

@{
    ViewData["Title"] = "Eliminar Paramatros";
    ViewData["CardTitle"] = "Parametros";

}


<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h3>¿Está seguro de eliminar este elemento?</h3><hr />
        <!-- general form elements -->
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">@ViewBag.CardTitle</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <dl>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Valor)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Valor)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                </dl>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <form asp-action="Delete">
                    <div class="row">
                        <div class="col-4">
                            <input type="hidden" asp-for="Id" />
                            <button type="submit" class="btn btn-danger btn-block btn-flat"><i class="fa fa-trash"></i> Eliminar</button>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <a class="btn btn-default btn-block btn-flat" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>
